BasedOnStyle:  Google
IndentWidth:     2
TabWidth:        2
ContinuationIndentWidth: 4
AccessModifierOffset: -1  # The private/protected/public has no indent in class
AllowAllParametersOfDeclarationOnNextLine: true
IncludeBlocks: Preserve
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
# Left-braces-in-the-same-line helps a lot when navigating the code with
# weaker tools like ctags or cscope.
BreakBeforeBraces: Attach
SpaceBeforeCpp11BracedList: True
# Limits for 1080p 16:9 monitor, 12pt fonts, vertical split
ColumnLimit: 110
AlignArrayOfStructures: Right
# For code in bindings/
NamespaceIndentation: Inner
# Function arguments alignment
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
