# https://github.com/marketplace/actions/python-coverage

name: python-coverage

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  pull-requests: write

jobs:
  container-coverage-test:
    runs-on: [self-hosted, docker]
    container:
      image: localhost:5000/flag-gems-ci:v1.0
      ports:
        - 81
      options: --gpus all --hostname flag-gems_cicd_coverage
    steps:

      - name: run-pytest
        run: |
          CUDA_VISIBLE_DEVICES=0 coverage run -m pytest -s tests/test_binary_pointwise_ops.py::test_accuracy_add
          coverage report -m
          coverage xml -o coverage.xml

      - name: get-coverage
        uses: orgoro/coverage@v3.2
        with:
            coverageFile: coverage.xml
            thresholdNew: 0.8
            thresholdModified: 0.0
            token: ${{ secrets.GITHUB_TOKEN }}
